.DS_Store
build/
DerivedData/
web/node_modules/
web/.next/
web/out/
web/.vercel/
*.log
*.xcuserstate
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
.swiftpm/
.netrc
.idea/
*.playground
web/out/
web/.next/
